<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="2" parallel="tests" name="Suite">
  <test thread-count="2" parallel="tests" name="Test">
    <classes>
      <class name="testcases.SelectWriterTest"/>
      <class name="testcases.HomePageTest"/>
      <class name="testcases.SelectBookTest"/>
      <class name="testcases.FinalTest"/>
      <class name="testcases.DashboardPageTest"/>
      <class name="testcases.WriterPageTest"/>
      <class name="testcases.LogInPageTest"/>
      <class name="testcases.OrderBookTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
